/** MEDIA QUERIES FOR RESPONSIVENESS **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF1E6;
}

section#mainSection {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f3;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#mainSection h2#titleAdd {
  color: #FF8882;
}
section#mainSection form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 5px;
  background-color: #ecf0f3;
  padding: 1.5rem 1.5rem;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}
section#mainSection form .form-group {
  width: 100%;
}
section#mainSection form .form-group input[type=text], section#mainSection form .form-group input[type=email], section#mainSection form .form-group input[type=date], section#mainSection form .form-group select {
  background-color: #ecf0f3;
  border-radius: 5px;
  border: 0;
  height: 2rem;
  padding: 0.5rem;
  width: 300px;
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px white;
}
section#mainSection form .form-group input[type=text]:focus, section#mainSection form .form-group input[type=email]:focus, section#mainSection form .form-group input[type=date]:focus, section#mainSection form .form-group select:focus {
  outline: none;
  box-shadow: inset 2px 2px 2px #51C4D3, inset -2px -2px 2px #51C4D3;
}
section#mainSection form .form-group input[type=radio] {
  margin-left: 0.3rem;
  transition: 0.5s ease;
}
section#mainSection form .form-group input[type=radio]:hover::after {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #8E9775;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
section#mainSection form .form-group input[type=radio]:checked::after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #4A503D;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
section#mainSection form .form-group button#btnAdd {
  border-radius: 20px;
  border: 0;
  height: 2rem;
  padding: 0.5rem;
  width: 170px;
  background-color: #81B214;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  color: #ecf0f3;
  transition: 0.5s ease;
  font-weight: bolder;
}
section#mainSection form .form-group button#btnAdd:hover {
  background-color: #000;
  cursor: pointer;
  transform: translateY(-5%);
}
section#mainSection form #submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
